<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h4>Продукти <small>страница {{pageNumber}}</small></h4>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

	<div class="input-group">
		<input #goto type="number" class="form-control"  placeholder="Иди на страница ...">
		<span class="input-group-btn">
				<button (click)="goToPage(goto.value)" class="btn btn-default" type="button">Иди</button>
			</span>
	</div>
	<!-- /input-group -->

	<ul class="pagination">
		<li><a (click)="goToPage(pageNumber-1)">&laquo;</a></li>
		<li *ngFor="let n of getPageRange()" [class.active]="n == pageNumber"><a (click)="goToPage(n)">{{n}}</a></li>
		<li><a (click)="goToPage(pageNumber+1)">&raquo;</a></li>
	</ul>

	<table class="table table-striped table-responsoive table-hover">
		<thead>
			<tr>
				<th>SKU</th>
				<th>Име</th>
				<th>Цена</th>
				<th>Категория</th>
				<!--<th>Съвместимост</th>-->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of products" (click)="product = p;" [class.info]="p == product">
				<td>{{p.sku}}</td>
				<td>{{p.name}}</td>
				<td>{{p.price}}</td>
				<td>{{p.categoryName}}</td>
				<!--<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>-->
			</tr>
		</tbody>
	</table>
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
	
	<form *ngIf="product" class="form-inline">
		<legend>{{product?.sku}} {{product?.name}}</legend>
	
		<div class="form-group" style="width: 100%">      
			<input (change)="submitProduct()" type="text" name="sku" class="form-control" [(ngModel)]="product.sku" style="width: 23%">
			<input (change)="submitProduct()" type="text" name="name" class="form-control" [(ngModel)]="product.name" style="width: 75%">
		</div>

		<div class="form-group" style="width: 100%">
			
			<div class="input-group" style="width: 30%">
				<input (change)="submitProduct()" type="number" name="price" class="form-control" placeholder="Цена" [(ngModel)]="product.price">
				<div class="input-group-addon">лв.</div>
			</div>
						
			<select name="category" class="form-control" required="required" 
			[(ngModel)]="product.categoryId"
			(change)="changeProductCategory($event.target.value);submitProduct()" 
			style="width: 67%">
				<optgroup *ngFor="let c of categories" [label]="c.name">
					<option *ngFor="let sc of c.subCategories" [value]="sc.id">{{sc.name}}</option>
				</optgroup>
			</select>
			
		</div>
		<!--<button type="button" (click)="submitProduct()" class="btn btn-primary">Запази</button>-->

		<hr>
		<h4>Съвместимост</h4>
		<div class="form-group" style="width: 100%">
			<select [(ngModel)]="make" 
					(change)="onMakeChange($event.target.value)" name="make" class="form-control" style="width: 50%">
					<option value="" disabled>Марка</option> <option *ngFor="let m of makes" [value]="m">{{m}}</option></select>
			<select [(ngModel)]="model" 
					(change)="onModelChange(make, $event.target.value)" 
					[disabled]="make == null || make.length == 0" name="model" class="form-control" style="width: 49%" disabled><option value="" disabled>Модел</option><option *ngFor="let m of models" [value]="m">{{m}}</option></select>
			<!--<select [(ngModel)]="variant" 
					[disabled]="model == null || model.length == 0" name="variant" class="form-control" style="width: 31%" disabled><option value="" disabled>Вариант</option><option *ngFor="let v of variants" [value]="v">{{v}}</option></select>-->
		</div>
		<div class="form-group" style="width: 100%" *ngIf="yearFrom > 0">
			<div class="input-group" style="width: 44%">
				<span class="input-group-addon" id="basic-addon1">От</span>
				<input [(ngModel)]="chosenYearFrom" name="yearFrom" type="number" class="form-control" placeholder="Година" aria-describedby="basic-addon2">
				<span class="input-group-addon" id="basic-addon2">г.</span>
			</div>
			<div class="input-group" style="width: 44%">
				<span class="input-group-addon" id="basic-addon1">До</span>
				<input [(ngModel)]="chosenYearTo" name="yearTo" type="number" class="form-control" placeholder="Година" aria-describedby="basic-addon2">
				<span class="input-group-addon" id="basic-addon2">г.</span>
			</div>
			
			<button (click)="resetYears()" type="button" class="btn btn-small btn-warning"><span class="glyphicon glyphicon-refresh"></span></button>
			
		</div>
		<div class="form-group" style="width: 100%" *ngIf="variants?.length > 1">
			<p>Вариант: 
				<button (click)="toggleAllVariants()" type="button" class="btn btn-xs">Всички</button> 
			</p>
			<label *ngFor="let v of variants">
				<input [checked]="chosenVariants.indexOf(v) != -1" 
					   (change)="updateVariant(v)" type="checkbox" name="variants">{{v}}</label>
		</div>
		<div class="form-group" style="width: 100%" *ngIf="bodies?.length > 1">
			<p>Купе: <button (click)="toggleAllBodies()" type="button" class="btn btn-xs">Всички</button></p>
			<label *ngFor="let b of bodies">
				<input [checked]="chosenBodies.indexOf(b) != -1" 
					   (change)="updateBody(b)" type="checkbox" name="bodies">{{b}}</label>
		</div>
		<div class="form-group" style="width: 100%" *ngIf="types?.length > 1">
			<p>Тип: <button (click)="toggleAllTypes()" type="button" class="btn btn-xs">Всички</button></p>
			<label *ngFor="let t of types">
				<input [checked]="chosenTypes.indexOf(t) != -1" 
					   (change)="updateType(t)" type="checkbox" name="types">{{t}}</label>
		</div>


	
	</form>
	
</div>