<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h4>Продукти <small>страница {{pageNumber}}</small></h4>
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

	<div class="input-group">
		<input #goto type="number" class="form-control"  placeholder="Иди на страница ...">
		<span class="input-group-btn">
				<button (click)="goToPage(goto.value)" class="btn btn-default" type="button">Иди</button>
			</span>
	</div>
	<!-- /input-group -->

	<ul class="pagination">
		<li><a (click)="goToPage(pageNumber-1)">&laquo;</a></li>
		<li *ngFor="let n of getPageRange()" [class.active]="n == pageNumber"><a (click)="goToPage(n)">{{n}}</a></li>
		<li><a (click)="goToPage(pageNumber+1)">&raquo;</a></li>
	</ul>

	<table class="table table-striped table-responsoive table-hover">
		<thead>
			<tr>
				<th>SKU</th>
				<th>Име</th>
				<th><span class="glyphicon glyphicon-wrench"></span></th>
				<th>Цена</th>
				<th>Категория</th>
				<!--<th>Съвместимост</th>-->
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of products" (click)="product = p;" [class.info]="p == product">
				<td>{{p.sku}}</td>
				<td>{{p.name}}</td>
				<td>
					<span class="glyphicon glyphicon-ok" *ngIf="p.compatibilitySettings?.length > 0"></span>
				</td>
				<td>{{p.price}}</td>
				<td>{{p.categoryName}}</td>
				<!--<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>-->
			</tr>
		</tbody>
	</table>
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
	
	<form *ngIf="product" class="form-inline">
		<legend>{{product?.sku}} {{product?.name}}</legend>
	
		<div class="form-group" style="width: 100%">      
			<input (change)="submitProduct()" type="text" name="sku" class="form-control" [(ngModel)]="product.sku" style="width: 23%">
			<input (change)="submitProduct()" type="text" name="name" class="form-control" [(ngModel)]="product.name" style="width: 75%">
		</div>

		<div class="form-group" style="width: 100%">
			
			<div class="input-group" style="width: 30%">
				<input (change)="submitProduct()" type="number" name="price" class="form-control" placeholder="Цена" [(ngModel)]="product.price">
				<div class="input-group-addon">лв.</div>
			</div>
						
			<select name="category" class="form-control" required="required" 
			[(ngModel)]="product.categoryId"
			(change)="changeProductCategory($event.target.value);submitProduct()" 
			style="width: 67%">
				<optgroup *ngFor="let c of categories" [label]="c.name">
					<option *ngFor="let sc of c.subCategories" [value]="sc.id">{{sc.name}}</option>
				</optgroup>
			</select>
			
		</div>
		<!--<button type="button" (click)="submitProduct()" class="btn btn-primary">Запази</button>-->

		<hr>
		<h4>Съвместимост</h4>
		<div class="form-group" style="width: 100%">
			<select [(ngModel)]="chosenMake" 
					(change)="onMakeChange($event.target.value)" name="make" class="form-control" style="width: 50%">
					<option value="" disabled>Марка</option> <option *ngFor="let m of makes" [value]="m">{{m}}</option></select>
			<select [(ngModel)]="chosenModel" 
					(change)="onModelChange(chosenMake, $event.target.value)" 
					[disabled]="chosenMake == null || chosenMake.length == 0" name="model" class="form-control" style="width: 49%" disabled><option value="" disabled>Модел</option><option *ngFor="let m of models" [value]="m">{{m}}</option></select>
		</div>

		<div class="form-group" style="width: 100%" *ngIf="variants?.length > 1">
			<p>Вариант: 
				<button (click)="toggleAllVariants()" type="button" class="btn btn-xs">Всички</button> 
			</p>
			<label *ngFor="let v of variants">
				<input [checked]="chosenVariants.indexOf(v) != -1" 
					   (change)="updateVariant(v)" type="checkbox" name="variants">{{v}}</label>
		</div>
		
		<button (click)="createCompatibility()" 
				[disabled]="chosenVariants?.length == 0 && variants?.length > 1 || !chosenModel || !chosenMake" type="button" class="btn btn-success">Запази настройка за съвместимост</button>
		<button (click)="resetCompatibility()" type="button" class="btn btn-warning">Изчисти</button>
			
	</form>
	
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngIf="product?.compatibilitySettings?.length > 0">
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Марка</th>
				<th>Модел</th>
				<th>Вариант</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let c of product?.compatibilitySettings">
				<td>{{c.make}}</td>
				<td>{{c.model}}</td>
				<td *ngIf="c.variant">{{c.variant}}</td>
				<td *ngIf="!c.variant"><i>&lt;всички&gt;</i></td>
				<td><button (click)="deleteCompatibilitySetting(c.id)" type="button" class="btn btn-small btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
			</tr>
		</tbody>
	</table>
	
</div>
